ASPNETCORE_ENVIRONMENT=Development
CRM_API_PORT=5100
CRM_WORKER_ENABLED=true
CRM_DB_CONNECTION=Server=localhost,1433;Database=CorporateCrm;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True;

PORTAL_BASE_URL=http://localhost:5000
PORTAL_SECURITY_API=http://localhost:5000/api/security
PORTAL_CONFIGURATION_API=http://localhost:5000/api/portal
PORTAL_AUDIT_API=http://localhost:5000/api/audit
PORTAL_NOTIFICATION_API=http://localhost:5000/api/notifications
PORTAL_CONTENT_API=http://localhost:5000/api/content
