ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
CRM_ENVIRONMENT_CLASSIFICATION=SimulatedProduction
CRM_RUNTIME_MODE=SimulatedProduction
CRM_PORTAL_INTEGRATION=Disabled
CRM_FINANCIAL_INTEGRATION=Disabled
CRM_PROD_SIM_HOST_BIND=127.0.0.1
CRM_PROD_SIM_PORT=8094
